[submodule "src/zlib/zlib"]
	path = src/zlib/zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "src/lzma/xzutils"]
	path = src/lzma/xzutils
	url = https://git.tukaani.org/xz.git
	branch = v5.2
